{% extends "blog/base.html" %}
{% block content %}
    <h1>About</h1>
    <p>Olympics Dashboard is a database management project which aims at providing a platform about how the Olympics has evolved over time, participation and performance rate based on gender, different countries, different sport and sport events.</p>
    <p>The Olympics plays an important role in the history of sports, it has made important impact in regards to social and political aspects through the history like increase of women participation in a particular sport, winning rate of the host country vs other countries, age wise performance and participation of athletes . It even has been a tool to demonstrate power by different countries.
        This project demonstrates these very questions, along with some more, with the help of a historical olympics dataset which has records a 120 year history. Data visualisation will help in answering these questions and these data visuals will be based on the queries executed from the backend. 
        </p>

    {% endblock content %}